* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffedd8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    flex: 1;
}

header, footer {
    padding: 20px;
    background-color: #583101;
    text-align: center;
    color: white;
    font-size: 20px;
}

footer {
    padding: 20px;
}

.options {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 40px;
    height: 40%;
}

.grid-size, .eraser, .sketch, .reset{
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    background-color: #bb9457;
    display: block;
    border: solid 3px black;
    border-radius: 5px;
    color: white;
    flex: 0 1 0px;
}

.grid-size:hover, .eraser:hover, .sketch:hover, .reset:hover {
    transform: scale(1.1);
}

.reset {
    margin-top: auto;
    background-color: orange;
    color: black;
}

.reset-container {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.container {
    flex: 0 0 800px;
    background-color: white;
    margin: 25px 0px;
    padding: 5px;
    border: 5px solid #583101;
    display: flex;
    gap: 2px;
    width: 800px;
    height: 800px;
    justify-content: space-evenly;
    border-radius: 10px;
}

.pixelHover {
    background-color: red;
}